.dataColumn2 span {
  color: rgba(114, 114, 120, 1);
}

.dataColumn3 .Financeiro {
  background: rgba(219, 234, 254, 1);
  color: rgba(30, 64, 175, 1);
  font-weight: bold;
}

.dataColumn3 .Material {
  background: rgba(254, 243, 199, 1);
  color: rgba(146, 64, 14, 1);
  font-weight: bold;
}
